*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.home{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(3.jfif);
    color: white;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}
.home h1{
    font-weight: 900;
}
.home-contact{
    width: 60%;
    margin: 0 auto;
    display: flex;
    padding: 30px 0;
}
ul{
    display: flex;
    list-style: none;
    width: 50%;
    margin: 0 auto;
    margin-left: 350px;
    justify-content: space-between;
}
li{
    margin-left: 10px;
    justify-content: space-between;
}
.contact-home{
    text-align: center;
    padding: 150px 0;
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    justify-content: space-between;
    
}

    
.contact-home button{
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(207, 176, 118);
    color: white;
    font-size: 20px;
}


.home1{
    height: 500px;
    background-color: rgb(243, 230, 230);
}
.home-contact1{
    text-align: center;
}
.home-contact1 h1{
    padding: 40px 0;
}
    
.home-contact1 hr{
    width: 80px;
    border: 2px solid black;
    background-color: black;
    margin-left: 710px;
    margin-bottom: 40px;
}
.footer1{
    box-shadow: 2px 2px 2px 1px  grey;
    width: 300px;
    text-align: center;
    line-height: 20px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
}
.footer1 i{
    font-size: 25px;
    color: orange;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-home1{
    display: flex;
    margin-top: 100px;
    width: 85%;
    margin: 0 auto;
}




.home2{
    background-image: url(3.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    padding-top: 50px;
}
.img2 img{
    width: 250px;
    position: absolute;
    right: 0%;
} 
.img2{
    position: relative;

}
.img2 img:nth-child(1){
    margin-left: 15px;
    margin-top: 50px;
    margin-right: 70px;

}
.img2 img:nth-child(2){
    margin-top: 100px;
    margin-right: 200px;
}
.img2 img:nth-child(3){
    margin-top: 180px;

}

    
    

    
.contact2{
    width: 80%;
    margin: 0 auto;
}
.btn2{
    margin-top: 40px;
    
}
.btn2 button{
    border-radius: 20px;
    border: none;
    padding: 5px 25px;
    margin-left: 15px;
}
.btn2 button:nth-child(2){
    background-color: rgb(218, 187, 110);
    color: white;
}
.contact2 p{
    line-height: 25px;
}
.home-contact2{
    display: flex;
    width: 85%;
    margin: 0 auto;
}




.home4{
    background-color: rgb(197, 173, 128);
    height: 900px;
}
.content4{
    text-align: center;
    padding: 70px 0;
    color: white;
}
.text4{
    display: flex;
    width: 78.5%;
    margin: 0 auto;
    justify-content: space-between;
    color: white;
}
.clean-plane{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 30px;
    position: relative;
}
.food{
    background-image: url(2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 500px;
    line-height: 35px;
    position: relative;
}
.food-clean{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.3);
    padding: 15px;
    width: 100%;
}

.clean{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 230px;
    position: relative;
    margin-left: 30px;
}
.plane{
    background-image: url(4.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 230px;
    position: relative;
    position: relative;
    margin-left: 30px;
}
.plane-clean1{
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0,0.3);
}
.content4 hr{
    width: 100px;
    border: 2px solid white;
    background-color: white;
    margin-left: 700px;
    margin-top: 20px;
}
.food-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0,0.2);


}







.home5{
    padding: 150px 0;
}
.container5{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    
}
.contact5{
    background-color: rgb(228, 218, 218);
    text-align: center;
    width: 200px;
    height: 100px;
    line-height: 30px;
    color: rgb(145, 131, 131);
    margin-left: 20px;

}
.container5 h1{
    margin-top: 15px;
    color: orange;
}


.home6{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(3.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;

}
.container6{
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    height: 600px;
   
}

.img6 img{
    width: 500px;
}
.footer6{
    display: flex;
   
}
.contact6{
    text-align: center;
    color: white;
}
.contact6 hr{
    width: 75px;
    border: 2px solid white;
    background-color: white;
    margin-left: 500px;
    margin-top: 15px;
    margin-bottom: 50px;
}
.input6{
    display: flex;
    width: 500px;
}
form input{
    width: 250px;
    height: 40px;
    margin-left: 20px;
    background-color: rgb(112, 85, 85);
    border: none;
    color: rgb(214, 206, 196);
}
form textarea{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgb(112, 85, 85);
    color: rgb(214, 206, 196);

}
.submit6{
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(212, 179, 117);
    width: 150px;
}
.text6{
    color: white;
}
.home-footer6{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}
.icons6 i{
    background-color: rgb(245, 234, 82);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    padding: 5px;
}
.span6{
    color: red;
}
